@model IEnumerable<MVC.Models.Accounts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Navbar_Admin.cshtml";
}

<section>
    <div class="row" style="margin: 10px;">
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner" style="width:300px">
                    <h3>158</h3>

                    <p>SẢN PHẨM CHỜ DUYỆT</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">Chuyển <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner" style="width:300px">
                    <h3>45</h3>

                    <p>NGƯỜI DÙNG MỚI</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">Chuyển <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner" style="width:300px">
                    <h3>45</h3>

                    <p>GIAN HÀNG MỚI</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">Chuyển <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner" style="width:300px">
                    <h3>140</h3>

                    <p>
                        ĐƠN HÀNG MỚI
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">Chuyển <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</section>

<section>
    <div class="row" style="margin: 10px;">
        <div class="col">
            <div class="card card-warning card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="far fa-chart-bar"></i>
                        SẢN PHẨM CHỜ DUYỆT
                    </h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20px; text-align: center;">Mã</th>
                                <th style="width: 100px; text-align: center;">Tên</th>
                                <th style="width: 80px; text-align: center;">Gian Hàng</th>
                                <th style="width: 80px; text-align: center;">Hãng</th>
                                <th style="width: 200px; text-align: center;">Mục lục</th>
                                <th style="width: 20px; text-align: center;">TT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td>Apple Mi3</td>
                                <td>Bee Shop</td>
                                <td>Apple</td>
                                <td>Dây đeo 20cm</td>
                                <td style="text-align: center;"><span class="badge badge-warning" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Duyệt</span> | <span class="badge badge-info" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Ctiết</span></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td>Apple Mi3</td>
                                <td>Bee Shop</td>
                                <td>Apple</td>
                                <td>Dây đeo 20cm</td>
                                <td style="text-align: center;"><span class="badge badge-warning" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Duyệt</span> | <span class="badge badge-info" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Ctiết</span></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td>Apple Mi3</td>
                                <td>Bee Shop</td>
                                <td>Apple</td>
                                <td>Dây đeo 20cm</td>
                                <td style="text-align: center;"><span class="badge badge-warning" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Duyệt</span> | <span class="badge badge-info" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Ctiết</span></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td>Apple Mi3</td>
                                <td>Bee Shop</td>
                                <td>Apple</td>
                                <td>Dây đeo 20cm</td>
                                <td style="text-align: center;"><span class="badge badge-warning" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Duyệt</span> | <span class="badge badge-info" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Ctiết</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="text-align: center;"># Mã</th>
                                <th style="text-align: center;">Tên</th>
                                <th style="text-align: center;">Gian Hàng</th>
                                <th style="text-align: center;">Hãng</th>
                                <th style="text-align: center;">Mục lục</th>
                                <th style="text-align: center;">Duyệt</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col">
            <div class="card card-warning card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="far fa-chart-bar"></i>
                        MÃ GIẢM GIÁ CHỜ DUYỆT
                    </h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="DiscountTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20px; text-align: center;">Mã</th>
                                <th style="width: 100px; text-align: center;">CODE</th>
                                <th style="width: 80px; text-align: center;">Bill Giới Hạn</th>
                                <th style="width: 80px; text-align: center;">Giới Hạn</th>
                                <th style="width: 80px; text-align: center;">Giá trị</th>
                                <th style="width: 200px; text-align: center;">Chi Tiết</th>
                                <th style="width: 20px; text-align: center;">TT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td style="text-align: center;">CODEABD</td>
                                <td style="text-align: center;">100.000</td>
                                <td style="text-align: center;">50.000</td>
                                <td style="text-align: center;">40%</td>
                                <td>Giảm giá nhân dịp tết đến xuân về</td>
                                <td style="text-align: center;"><span class="badge badge-warning" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Duyệt</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="width: 20px; text-align: center;">Mã</th>
                                <th style="width: 100px; text-align: center;">CODE</th>
                                <th style="width: 80px; text-align: center;">Bill Giới Hạn</th>
                                <th style="width: 80px; text-align: center;">Giới Hạn</th>
                                <th style="width: 80px; text-align: center;">Giá trị</th>
                                <th style="width: 200px; text-align: center;">Chi Tiết</th>
                                <th style="width: 20px; text-align: center;">TT</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

@section JS
{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            $("#DiscountTable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#DiscountTable_wrapper .col-md-6:eq(0)');
        });
    </script>
}
