
@{
    ViewBag.Title = "ShopManager";
    Layout = "~/Views/Shared/_Navbar_Admin.cshtml";
}

<section>
    <div class="row" style="margin: 10px;">
        <div class="col">
            <div class="card card-warning card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="far fa-chart-bar"></i>
                        GIAN HÀNG CHỜ DUYỆT
                    </h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20px; text-align: center;">Mã</th>
                                <th style="width: 80px; text-align: center;">Tên</th>
                                <th style="width: 80px; text-align: center;">Chủ</th>
                                <th style="width: 80px; text-align: center;">Thời gian tạo</th>
                                <th style="width: 20px; text-align: center;">Địa chỉ</th>
                                <th style="width: 20px; text-align: center;">TT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td style="text-align: center;">Bee Shop</td>
                                <td style="text-align: center;">Nguyễn Trung Tín</td>
                                <td style="text-align: center;">27/09/2020</td>
                                <td style="text-align: center;">Hồ Chí Minh</td>
                                <td style="text-align: center;"><span class="badge badge-warning" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Duyệt</span> | <span class="badge badge-info" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Ctiết</span></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td style="text-align: center;">Bee Shop</td>
                                <td style="text-align: center;">Nguyễn Trung Tín</td>
                                <td style="text-align: center;">27/09/2020</td>
                                <td style="text-align: center;">Hồ Chí Minh</td>
                                <td style="text-align: center;"><span class="badge badge-warning" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Duyệt</span> | <span class="badge badge-info" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Ctiết</span></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td style="text-align: center;">Bee Shop</td>
                                <td style="text-align: center;">Nguyễn Trung Tín</td>
                                <td style="text-align: center;">27/09/2020</td>
                                <td style="text-align: center;">Hồ Chí Minh</td>
                                <td style="text-align: center;"><span class="badge badge-warning" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Duyệt</span> | <span class="badge badge-info" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Ctiết</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="width: 20px; text-align: center;">Mã</th>
                                <th style="width: 80px; text-align: center;">Tên</th>
                                <th style="width: 80px; text-align: center;">Chủ</th>
                                <th style="width: 80px; text-align: center;">Thời gian tạo</th>
                                <th style="width: 20px; text-align: center;">Địa chỉ</th>
                                <th style="width: 20px; text-align: center;">TT</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col">
            <div class="card card-warning card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="far fa-chart-bar"></i>
                        TẤT CẢ GIAN HÀNG
                    </h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="All" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 20px; text-align: center;">Mã</th>
                                <th style="width: 80px; text-align: center;">Tên</th>
                                <th style="width: 80px; text-align: center;">Chủ</th>
                                <th style="width: 80px; text-align: center;">Thời gian tạo</th>
                                <th style="width: 20px; text-align: center;">Trạng Thái</th>
                                <th style="width: 20px; text-align: center;">TT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td style="text-align: center;">Bee Shop</td>
                                <td style="text-align: center;">Nguyễn Trung Tín</td>
                                <td style="text-align: center;">27/09/2020</td>
                                <td style="text-align: center; color:#7FFB9E;">Đang hoạt động</td>
                                <td style="text-align: center;"><span class="badge badge-danger" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Khóa</span> | <span class="badge badge-info" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Ctiết</span></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">18</td>
                                <td style="text-align: center;">Bee Shop</td>
                                <td style="text-align: center;">Nguyễn Trung Tín</td>
                                <td style="text-align: center;">27/09/2020</td>
                                <td style="text-align: center; color: #EFA5AC;">Khóa</td>
                                <td style="text-align: center;"><span class="badge badge-success" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Mở Khóa</span> | <span class="badge badge-info" style="cursor: pointer;font-size: 12px;" id="" onclick="chitietfunction(this.id)">Ctiết</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="width: 20px; text-align: center;">Mã</th>
                                <th style="width: 80px; text-align: center;">Tên</th>
                                <th style="width: 80px; text-align: center;">Chủ</th>
                                <th style="width: 80px; text-align: center;">Thời gian tạo</th>
                                <th style="width: 20px; text-align: center;">Địa chỉ</th>
                                <th style="width: 20px; text-align: center;">TT</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

@section JS
{
    <script>
        $(function () {
            $("#example1").DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select class="form-control" name="select_search" style="width: 100%;"><option value=""></option></select>')
                            .appendTo($(column.footer()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append($('<option value="' + d + '">' + d + '</option>'))
                        });
                    });
                },
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            $("#All").DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select class="form-control" name="select_search" style="width: 100%;"><option value=""></option></select>')
                            .appendTo($(column.footer()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append($('<option value="' + d + '">' + d + '</option>'))
                        });
                    });
                },
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#All_wrapper .col-md-6:eq(0)');
        });
    </script>
}

