
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


@section Css {
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
}

<section class="content-header">
    <div class="container-fluid" style="max-width: 1240px; min-width: 1240px;">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Giỏ Hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Giỏ Hàng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content" style="max-width: 1240px; min-width: 1240px; margin: auto;">
    <div class="row">
        <div class="col-3">
            <div class="card card-outline card-warning">
                <div class="card-header">
                    <div class="card-title">
                        <div style="margin: 5px;">
                            <span> <img src="../../dist/img/user3-128x128.jpg" class="img-circle elevation-3 img-size-50 mr-3" style="width: 40px;margin-left: 0px;"> </span>
                            <span>Nguyễn Trung Tín</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-user"></i>
                                    <p>
                                        Thông tin Tài khoảng
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview" style="margin-left: 20px;">
                                    <li class="nav-item">
                                        <a href="../index.html" class="nav-link">
                                            <i class="fas fa-file-invoice nav-icon"></i>
                                            <p>Thay đổi thông tin</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="../index2.html" class="nav-link">
                                            <i class="fas fa-key nav-icon"></i>
                                            <p>Thay đổi mật khẩu</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="gallery.html" class="nav-link">
                                    <i class="nav-icon fas fa-shipping-fast"></i>
                                    <p>
                                        Quản lí Đơn Hàng
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="gallery.html" class="nav-link">
                                    <i class="nav-icon fas fa-shopping-cart"></i>
                                    <p>
                                        Giỏ Hàng
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="gallery.html" class="nav-link" style="color: #FFC107;">
                                    <i class="nav-icon fas fa-sign-out-alt"></i>
                                    <p>
                                        Đăng xuất
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="row">
                                <div class="col-12">
                                    <h4>
                                        <i class="fab fa-forumbee" style="color: #FFC107;"></i><b style="color: #FFC107;"> BEE</b>WATCH Cart.
                                    </h4>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info">
                                <div class="col-sm-4 invoice-col">
                                    <address>
                                        <strong>Nguyễn Trung Tín #Cutesiucap</strong><br>
                                        Quận 9, Thành Phố Hồ Chí Minh<br>
                                        Điện thoại: 0945918317<br>
                                        Email: info@almasaeedstudio.com
                                    </address>
                                </div>
                            </div>
                            <!-- /.row -->
                            <!-- Table row -->
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr style="color: #FFC107;">
                                                <th style="vertical-align:middle; display: table-cell;">
                                                    <div class="icheck-warning d-inline">
                                                        <input type="checkbox" id="checkboxPrimary">
                                                        <label for="checkboxPrimary">
                                                        </label>
                                                    </div>
                                                </th>
                                                <th style="vertical-align:middle; display: table-cell;" width=80px></th>
                                                <th style="vertical-align:middle; display: table-cell; text-align: center;" width=20%>Tên</th>
                                                <th style="vertical-align:middle; display: table-cell; text-align: center;">Đơn giá<small></small></th>
                                                <th style="vertical-align:middle; display: table-cell; text-align: center;">Số lượng</th>
                                                <th style="vertical-align:middle; display: table-cell; text-align: center;">Thành tiền</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="_cartDetail">
                                            <tr>
                                                <td style="vertical-align:middle; display: table-cell;">
                                                    <div class="icheck-warning d-inline">
                                                        <input class="checkCart" type="checkbox" id="checkbox1">
                                                        <label for="checkbox1">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell;">
                                                    <img src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.0-9/127632091_2894104784247746_4814614739632157377_o.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=14lm-B1Gg5UAX8vr3LE&_nc_ht=scontent-xsp1-2.xx&oh=9915bafbdf5169eb006762c1f06ae5eb&oe=6005783F" style="height: 120px;">
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">Hoa hậu Đồng Hồ</td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">40000000</td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">
                                                    <div class="input-group" style="width: 130px; margin:auto">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text btn btn-warning _tru">
                                                                <i class="fa fa-minus"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control _count" placeholder="SL" style="text-align: center; background-color: #454D55;" value="2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text btn btn-warning _cong">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;"></td>
                                            </tr>

                                            <tr>
                                                <td style="vertical-align:middle; display: table-cell;">
                                                    <div class="icheck-warning d-inline">
                                                        <input class="checkCart" type="checkbox" id="checkbox2">
                                                        <label for="checkbox2">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell;">
                                                    <img src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.0-9/127632091_2894104784247746_4814614739632157377_o.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=14lm-B1Gg5UAX8vr3LE&_nc_ht=scontent-xsp1-2.xx&oh=9915bafbdf5169eb006762c1f06ae5eb&oe=6005783F" style="height: 120px;">
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">Hoa hậu Đồng Hồ</td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">4.000.000</td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">
                                                    <div class="input-group" style="width: 130px; margin:auto">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text btn btn-warning _tru">
                                                                <i class="fa fa-minus"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control _cout" placeholder="SL" style="text-align: center; background-color: #454D55;" value="2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text btn btn-warning _cong">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">8.000.000</td>
                                            </tr>

                                            <tr>
                                                <td style="vertical-align:middle; display: table-cell;">
                                                    <div class="icheck-warning d-inline">
                                                        <input class="checkCart" type="checkbox" id="checkbox3">
                                                        <label for="checkbox3">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell;">
                                                    <img src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.0-9/127632091_2894104784247746_4814614739632157377_o.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=14lm-B1Gg5UAX8vr3LE&_nc_ht=scontent-xsp1-2.xx&oh=9915bafbdf5169eb006762c1f06ae5eb&oe=6005783F" style="height: 120px;">
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">Hoa hậu Đồng Hồ</td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;" class="_giadongho">4.000.000</td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">
                                                    <div class="input-group" style="width: 130px; margin:auto">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text btn btn-warning _tru">
                                                                <i class="fa fa-minus"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control _count" placeholder="SL" style="text-align: center; background-color: #454D55;" value="2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text btn btn-warning _cong">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">8.000.000</td>
                                            </tr>

                                            <tr>
                                                <td style="vertical-align:middle; display: table-cell;">
                                                    <div class="icheck-warning d-inline">
                                                        <input class="checkCart" type="checkbox" id="checkbox4">
                                                        <label for="checkbox4">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell;">
                                                    <img src="https://scontent-xsp1-2.xx.fbcdn.net/v/t1.0-9/127632091_2894104784247746_4814614739632157377_o.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=14lm-B1Gg5UAX8vr3LE&_nc_ht=scontent-xsp1-2.xx&oh=9915bafbdf5169eb006762c1f06ae5eb&oe=6005783F" style="height: 120px;">
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">Hoa hậu Đồng Hồ</td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">4.000.000</td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">
                                                    <div class="input-group" style="width: 130px; margin:auto">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text btn btn-warning _tru">
                                                                <i class="fa fa-minus"></i>
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control _count" placeholder="SL" style="text-align: center; background-color: #454D55;" value="2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text btn btn-warning _cong">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle; display: table-cell; text-align: center;">8.000.000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <div class="row">
                                <!-- accepted payments column -->
                                <div class="col-6">
                                </div>
                                <!-- /.col -->
                                <div class="col-6">
                                    <p class="lead">TỔNG</p>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th style="width:50%">Số lượng:</th>
                                                <td class="_soluong">15</td>
                                            </tr>
                                            <tr>
                                                <th>Tạm tính:</th>
                                                <td class="_tamtinh">50.000.000</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                                <div class="col-12">
                                    <a href="../../Order/Index" class="btn btn-warning float-right" style="margin-right: 5px;">
                                        <i class="fas fa-..."></i> Đặt Hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.invoice -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </div>
</section>


<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- SweetAlert2 -->
<script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="../../plugins/toastr/toastr.min.js"></script>
<!-- AdminLTE for demo purposes -->

<script src="../../dist/js/demo.js"></script>

<script>

    var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
    });
    function ThanhCongToast(Content) {
        Toast.fire({
            icon: 'success',
            title: Content,
        });
    };
</script>

<script>
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) $(".lentop").fadeIn();
            else $(".lentop").fadeOut();
        });
        $(".lentop").click(function () {
            $("body,html").animate({ scrollTop: 0 }, "slow");
        });
    });
</script>

<script>
    function getcart() {
        $.ajax({
            url: '../../CartDetails/Show',
            type: 'GET',
            async: false,
            dataType: 'JSON',
            success: function (newcart) {
                $('._cartDetail').empty();
                $.each(newcart, function (index, item) {
                    if (item.IsCheck == true) {
                        $('._cartDetail').append('<tr class="no'
                            + item.id_Watch + '"><td style = "vertical-align:middle; display: table-cell;" ><div class="icheck-warning d-inline"><input onchange="CheckCartChange(this)" class="checkCart" type="checkbox" id="checkcart'
                            + item.id_Watch + '" checked><label for="checkcart' + item.id_Watch + '"></label></div></td><td style="vertical-align:middle; display: table-cell;"><div style="background-image: url('
                            + item.Url_Image + '); background-size: cover; background-repeat: no-repeat; width: 120px; height: 120px; background-position: center;"></div ></td><td style="vertical-align:middle; display: table-cell; text-align: center;"><a href="../../Watch/Index/'
                            + item.id_Watch + '">'
                            + item.Name + '</a></td ><td style="vertical-align:middle; display: table-cell; text-align: center;">'
                            + item.Price + '</td><td style="vertical-align:middle; display: table-cell; text-align: center;"><div class="input-group" style="width: 130px; margin:auto"><div class="input-group-prepend"><span onclick="truclick(this)" class="input-group-text btn btn-warning _tru"><i class="fa fa-minus"></i></span></div><input type="text" onchange="thaydoisl(this)" class="form-control _count" placeholder="SL" style="text-align: center; background-color: #454D55;" id="Count_'
                            + item.id_Watch + '" value="'
                            + item.Count + '"><div class="input-group-prepend"><span onclick="congclick(this)" class="input-group-text btn btn-warning _cong"><i class="fa fa-plus"></i></span></div></div></td><td style="vertical-align:middle; display: table-cell; text-align: center;"></td><td style="vertical-align:middle; display: table-cell; text-align: center;"><a onclick="xoaclick(this)" class="nav-link"><i class="fas fa-times"></i></a></td></tr>');
                    }
                    else {
                        $('._cartDetail').append('<tr class="no'
                            + item.id_Watch + '"><td style = "vertical-align:middle; display: table-cell;" ><div class="icheck-warning d-inline"><input onchange="CheckCartChange(this)" class="checkCart" type="checkbox" id="checkcart'
                            + item.id_Watch + '"><label for="checkcart' + item.id_Watch + '"></label></div></td><td style="vertical-align:middle; display: table-cell;"><div style="background-image: url('
                            + item.Url_Image + '); background-size: cover; background-repeat: no-repeat; width: 120px; height: 120px; background-position: center;"></div ></td><td style="vertical-align:middle; display: table-cell; text-align: center;"><a href="../../Watch/Index/'
                            + item.id_Watch + '">'
                            + item.Name + '</a></td ><td style="vertical-align:middle; display: table-cell; text-align: center;">'
                            + item.Price + '</td><td style="vertical-align:middle; display: table-cell; text-align: center;"><div class="input-group" style="width: 130px; margin:auto"><div class="input-group-prepend"><span onclick="truclick(this)" class="input-group-text btn btn-warning _tru"><i class="fa fa-minus"></i></span></div><input onchange="thaydoisl(this)" type="text" class="form-control _count" placeholder="SL" style="text-align: center; background-color: #454D55;" id="Count_'
                            + item.id_Watch + '" value="'
                            + item.Count + '"><div class="input-group-prepend"><span onclick="congclick(this)" class="input-group-text btn btn-warning _cong"><i class="fa fa-plus"></i></span></div></div></td><td style="vertical-align:middle; display: table-cell; text-align: center;"></td><td style="vertical-align:middle; display: table-cell; text-align: center;"><a onclick="xoaclick(this)" class="nav-link"><i class="fas fa-times"></i></a></td></tr>');
                    }

                });
            }
        });
        tinhtongtien();
    };
    window.onload = function () {
        getcart();
    };
</script>

<script>
    $('#checkboxPrimary').click(function () {
        var seft = this;
        var s = document.getElementsByClassName('checkCart');
        $.each(s, function (index, item) {
            item.checked = seft.checked;
            CheckCartChange(item);
        })
        tinhtongtien();
    });

    function ChangeCartDetail(id, count) {
        var data = {
            id_Watch: id,
            Count: count,
        };
        $.ajax({
            url: "../../CartDetails/Change",
            method: "POST",
            data: data,
            async: false,
            dataType: 'JSON',
            success: function (result) {
                if (result.Count == 0) {
                    var tr = '.no' + result.id_Watch;
                    $(tr).remove();
                    ThanhCongToast("Xóa Thành công");
                }
            },
        });
        tinhtongtien();
    };

    function xoaclick(self) {
        var id_Watch = self.parentElement.parentElement.className.substring(2);
        var result = confirm("Cát hạ thực sự muốn xóa Đồng hồ này khỏi giỏ hàng ?");
        if (result) {
            ChangeCartDetail(id_Watch, 0);
            tinhtongtien();
        }        
    }

    function CheckCartChange(self) {
        var id_Watch = self.parentElement.parentElement.parentElement.className.substring(2);
        var data = {
            id_Watch: id_Watch,
            IsCheck: self.checked,
        };
        $.ajax({
            url: "../../CartDetails/Change",
            method: "POST",
            data: data,
            async: false,
            dataType: 'JSON',
            success: function (result) {
               
            },
        });
        tinhtongtien();
    };

    function truclick(self) {
        var countElement = self.parentElement.parentElement.children[1];
        var count = parseInt(countElement.value);
        var id_Watch = self.parentElement.parentElement.parentElement.parentElement.className.substring(2);
        var id_Count = "#Count_" + id_Watch;
        if (count <= 1) {
        }
        else {
            countElement.value = (count - 1);
        }
        ChangeCartDetail(id_Watch, countElement.value);
        tinhtongtien();
    };

    function thaydoisl(self) {
        var id_Watch = self.parentElement.parentElement.parentElement.className.substring(2);
        var count = self.value;
        ChangeCartDetail(id_Watch, count);
    };

    function congclick(self) {
        var countElement = self.parentElement.parentElement.children[1];
        var count = parseInt(countElement.value);
        var id_Watch = self.parentElement.parentElement.parentElement.parentElement.className.substring(2);
        countElement.value = (count + 1);
        ChangeCartDetail(id_Watch, countElement.value);
        tinhtongtien();
    };

</script>
<script>
    function tinhtongtien() {
        thanhtien();
        tinhsoluong();
        var cart = document.getElementsByClassName('checkCart');
        var sl = 0;
        $.each(cart, function (index, item) {
            if (item.checked) {
                sl += parseInt($(item.parentElement.parentElement.parentElement.children[5]).text());
            }
        });
        $('._tamtinh').html(sl);
    };

    function tinhsoluong() {
        var l = document.getElementsByClassName('checkCart');
        var sl = 0;
        $.each(l, function (index, item) {
            if (item.checked) {
                sl += parseInt(item.parentElement.parentElement.parentElement.children[4].children[0].children[1].value);
            }
        });
        $('._soluong').html(sl);
    }

    function thanhtien() {
        var l = document.getElementsByClassName('checkCart');
        $.each(l, function (index, item) {
            var g = parseInt($(item.parentElement.parentElement.parentElement.children[3]).text());
            var s = parseInt(item.parentElement.parentElement.parentElement.children[4].children[0].children[1].value);
            $(item.parentElement.parentElement.parentElement.children[5]).html((g * s));
        });
    };
</script>
