h1 a.navbar-brand {
    font-size: 32px;
    color: #e0a800;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0px;
}
.hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 3em;
}
.hedder-up {
    background: #000;
}
.hedder-up, .info-top-grid, nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 3em;
}
.header-bar {
    position: absolute;
    width: 100%;
    z-index: 99;
}
.header-outs {
    position: relative;
}
.search-right, .right-side-cart {
    margin-top: 9px;
}
.search-right input[type="search"] {
    width: 55%;
    color: #fff;
    background-color: #e4e4e4;
    outline: none !important;
    font-size: 14px;
    margin-right: 0px !important;
    border-radius: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
