
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BEESHOP | Tạo Tài khoảng</title>

    <style>
    ::selection {

    background:#ddca92;

    color:rgb(255, 255, 255);
    }

    .modal-dialog {
          max-width: 600px; /* New width for default modal */
    }
    
    </style>
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page dark-mode">
    <div class="register-box" style="width: 800px;">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../Home/" class="h1"><b style="color: #E0A800">BEE</b>SHOP</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Tạo mới tài khoảng thương gia cùng với một Gian Hàng</p>
                <div id="err_login"></div>
                <form action="../../Sallers/CreateAccount" id="form-Register" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" required id="Name" class="form-control" placeholder="Họ và Tên">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-font"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" required id="Phone" class="form-control" placeholder="Số Điện Thoại">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-phone"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" required id="Email" class="form-control" placeholder="Địa chỉ Mail">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" required id="UserName" class="form-control" placeholder="Tài Khoản">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" required id="Password" class="form-control" placeholder="Mật Khẩu">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" required id="Confirm_PassWord" class="form-control" placeholder="Nhập Lại Mật Khẩu">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-key"></span>
                                    </div>
                                </div>
                            </div>
                            <h6 style="color: #FFC107;">Một Mã Xác Nhận Sẽ Gửi Cho Bạn Thông Qua Email</h6>
                            <div class="input-group mb-3">
                                <input type="text" required id="Code_Value" class="form-control" placeholder="VD: BEake200">
                                <div class="input-group-prepend swalDefaultSuccess">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-warning">Gửi Mã</button>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" required id="ICard" class="form-control" placeholder="Chứng Minh Nhân Dân">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" required id="BankCard" class="form-control" placeholder="Tài Khoảng Ngân Hàng">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>

                            <h6 style="margin-top: 25px; margin-bottom: 10px;"><b style="color: #E0A800;">Thông Tin Gian Hàng </b><small><em>(Tạo mới gian hàng cho mình hoặc hùng hạp làm ăn với một gian hàng đã có)</em></small></h6>
                            <div class="form-group mb-3">
                                <div style="max-width: 400px; display: flex;flex-direction: row;">
                                    <span class="icheck-bootstrap" style="margin:0 auto;">
                                        <input type="radio" id="radioPrimary1" name="r1" checked>
                                        <label for="radioPrimary1">Tạo Gian Hàng</label>
                                    </span>
                                    <span class="icheck-bootstrap" style="margin:0 auto;">
                                        <input type="radio" id="radioPrimary2" name="r1">
                                        <label for="radioPrimary2">Xin Vào Gian Hàng</label>
                                    </span>
                                </div>
                            </div>
                            <div class="input-group mb-3" id="nameShop">
                                <input type="text" required class="form-control " placeholder="Tên Shop">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-store"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="social-auth-links text-center mt-2 mb-3">
                        <button href="#" id="register" type="submit" class="btn btn-block btn-warning">
                            Đăng Kí
                        </button>
                    </div>
                </form>
                <p class="mb-1">
                    <a href="../../Sallers/LoginSaller" class="text-center text-muted">Ấy quên ! Tại hạ có rồi :)</a>
                </p>
                <p class="mb-0">
                    <a href="login-v2.html" class="text-center text-muted">UpLevel tài khoảng thường dân đang có</a>
                </p>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- SweetAlert2 -->
    <script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <script>
        var CODE;
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        $(document).ready(function () {
            $('.swalDefaultSuccess').click(function (){
                if ($('#Email').val() == '') {
                    $('#err_login').html('<div class="alert alert-danger">Cát hạ vui nhập Địa chỉ mail và kiểm tra trước khi Tại hạ có thể gửi mã xác nhận</div>');
                    return false;
                }
                else {
                  var data = { toGmail: $('#Email').val(), };
                  $.ajax({
                      url: '/Sallers/SendMail',
                      type: 'Post',
                      async: true,
                      data: data,
                      success: function (msg_login)
                      {
                          if (msg_login == 'false')
                          {
                              $('#err_login').html('<div class="alert alert-danger">Đã có lỗi xảy ra trong quá trình gửi xác nhận. Vui lòng kiểm tra đúng địa chỉ mail</div>');
                              $("#Email").focus();
                              return false;
                          }
                          else
                          {
                              CODE = msg_login;
                          }
                      }
                  });
                  Toast.fire
                  ({
                      icon: 'warning',
                      title: 'Yêu cầu gửi mã thành công. Mã sẽ được gửi đến mail của Cát hạ trong một vài giây nữa',
                  });
                  return true;
              }
              return true;
          });
        });
    </script>


<script>
    $('#radioPrimary2').click(function () {
        $('#nameShop').html("<div id='idShop' class='input-group mb-3'><input type='text' required class='form-control ' placeholder='ID Shop'><div class='input-group-append'><div class='input-group-text'><span class='fas fa-store'></span></div></div></div>");
    })
    $('#radioPrimary1').click(function () {
        $('#idShop').html("<div id='nameShop' class='input-group mb-3'><input type='text' required class='form-control ' placeholder='Tên Shop'><div class='input-group-append'><div class='input-group-text'><span class='fas fa-store'></span></div></div></div>");
    })
    $('#form-Register').submit(function (e) {
        if ($("#Password").val() != ('#Confirm_Password').val()) {
            $('#err_login').html('<div class="alert alert-danger">Cát hạ nhập Xác nhận Mật khẩu chưa chính xác. Có vẻ Cát hạ đã say rồii :~ </div>');
            $("#Confirm_Password").focus();
            return false;
        }
    })
    $('#Confirm_Password').change(function () {
        $('err_login').html("<div id='err_login'></div>")
    })
</script>
</body>
</html>